@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atomic+Age&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@font-face {
  font-family: 'Higuen Serif';
  src: url('/higuen-serif.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

